.card {
  width: 100%;
  max-width: 413px;
}

.card__image {
  /* come back to check width  */
  height: 413px;
  width: 413px;
  margin: 0;
  object-fit: cover;
  display: block;
  border-radius: 10px;
}

.card__title {
  margin: 0;
}

.card__content {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  color: rgba(33, 33, 33, 1);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: medium;
  font-size: 20px;
  letter-spacing: 0%;
  line-height: 120%;
}
.card__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__like-button {
  background-image: url(../images/Union.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 40%;
}

@media (max-width: 320px) {
  .card__image {
    max-width: 320px;
  }
}

/* TODO:
/* fix mobile view center new post button and get rid of scroll bar */
