.footer {
  padding-bottom: 60px;
  padding-top: 60px;
}

.footer__content {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: Poppins;
  color: rgba(33, 33, 33, 0.7);
  min-width: 104px;
  min-height: 16px;
  letter-spacing: 0;
  line-height: 100%;
}

.footer__content_text {
  margin: 0;
}
